body {
    padding: 10px;
    width: 1000px;
    height: 1000px;
}
#box {
    width: 100px;
    height: 100px;
    background-color: rgb(180, 180, 180);
    text-align: center;
    line-height: 100px;
    cursor: move;
}